/* ALIGNMENT */
main, article, section, aside, .title, .art, .banner, .video {
    text-align: center;    
}

/* LAYOUT */
nav {
    padding: 10px;
    margin-left: 40px;
}

table {
    padding: 20px;
    width: 100%;    
}

.navbar {    
    padding: 0;
    margin: 0;    
}

.navbar li {
    float: left
}

.navbar li a {
    padding: 14px 16px;
    display: block;       
}

/* FONT */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

p {
    font-family: cursive;
    font-size: 1em;
}

/* COLOR */
body {    
    background-color: orange;    
}

header {
    background-color: aquamarine;
}

main {
    background-color: blueviolet;    
}

h1, h2, h3 {
    color: orangered;    
}

.navbar {
    background-color: rgb(70, 70, 70);
}

.navbar li a {    
    color: white;        
}

.banner {
    background-color: gray;
}

/* DECORATION */
h1, h2, h3 {    
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;    
}

.title {    
    border: 3px solid whitesmoke;
}

.art {    
    border: 3px solid royalblue;
}

.banner {
    box-shadow: 10px 5px 5px red;
}

.navbar {        
    list-style-type: none;
    overflow: hidden;    
}

.navbar li a {    
    text-decoration: none;
}