/* THEME */
@import url(https://fonts.googleapis.com/css?family=Tangerine);

:root {
    --white: #f9f9f9;
    --black: #36383f;
    --grey: #85888c;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ALIGNMENT */
main, article, section, aside, .title, .art, .banner, .video {
    text-align: center;    
}

/* LAYOUT */
body {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

header {
    grid-column: 1 / 4;
}

section {
    grid-column: 2;
    grid-row: 2;
}

article {     
    grid-column: 1 / 4;
    grid-row: 3;
}

.container {
    display: flex;
    flex-direction: row;
}

main {
    grid-column: 1 / 3 ;
    grid-row: 4;
}

aside { 
    grid-column: 3 / 4;
    grid-row: 4;
    padding: 5px;
}

.banner {
    grid-column: 1 / 4;
}

footer {
    grid-column: 1 / 4;
}

.item {
    padding: 5px;
}

.intro {
    margin-top: 50px;
    margin-bottom: 50px;
}

aside {
    margin-top: 50px;
}

nav {
    padding: 10px;
    margin-left: 40px;
}

table {
    padding: 20px;
    width: 100%;    
}

.navbar {    
    padding: 0;
    margin: 0;    
}

.navbar li {
    float: left
}

.navbar li a {
    padding: 14px 16px;
    display: block;       
}

/* FONT */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

p {
    font-family: 'Tangerine';
    font-size: 2em;
}

/* COLOR */
body {    
    background-color: orange;    
}

header {
    background-color: aquamarine;
}

main {
    background-color: blueviolet;    
}

h1, h2, h3 {
    color: orangered;    
}

.navbar {
    background-color: rgb(70, 70, 70);
}

.navbar li a {    
    color: var(--white);        
}

.banner {
    background-color: var(--grey);
}

/* DECORATION */
h1, h2, h3 {    
    text-decoration: underline;
}

table, th, td {
    border: 1px solid var(--black);    
}

.title {    
    border: 3px solid whitesmoke;
}

.art {    
    border: 3px solid royalblue;
}

.banner {
    box-shadow: 10px 5px 5px red;
}

.navbar {        
    list-style-type: none;
    overflow: hidden;    
}

.navbar li a {    
    text-decoration: none;
}

/* Header */
.header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}

.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--grey);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background-color: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line:before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line:after {
    transform: rotate(45deg);
    top: 0;
}

/* Responsiveness */
@media (min-width: 750px) {
    .nav {
        max-height: none;
        top: 0;
        position: sticky;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--grey);
    }

    .hamb {
        display: none;
    }

    section {
        margin-top: 100px;
    }
}